In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

# Path to the JSONL file
file_path = "../data-v3/sessions.jsonl"

# Specify the chunk size
chunk_size = 1000000

# Initialize an empty DataFrame
df = pd.DataFrame()

# Read and append chunks to the DataFrame
for chunk in pd.read_json(file_path, lines=True, chunksize=chunk_size):
    print("a")
    df = pd.concat([df, chunk], ignore_index=True)

# Verify the resulting DataFrame
print(df.info())

a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29004137 entries, 0 to 29004136
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   session_id  int64
 1   timestamp   datetime64[ns]
 2   user_id     int64
 3   track_id    object
 4   event_type  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.1+ GB
None

In [3]:
sessions = df

In [4]:
sessions['date'] = sessions['timestamp'].dt.date

In [5]:
sessions

,session_id,timestamp,user_id,track_id,event_type,date
0,124,2024-12-21 13:13:30.000,101,3xRcQ04b0l5RiU2w7lJhCD,play,2024-12-21
1,124,2024-12-21 13:16:23.613,101,3xRcQ04b0l5RiU2w7lJhCD,like,2024-12-21
2,124,2024-12-21 13:17:20.920,101,1ZycJRpLOazlLcoFGxGROO,play,2024-12-21
3,125,2024-11-16 05:48:57.640,101,1Tf0qifzTHdDC9RnTW9Di3,play,2024-11-16
4,125,2024-11-16 05:50:37.178,101,1Tf0qifzTHdDC9RnTW9Di3,like,2024-11-16
...,...,...,...,...,...,...
29004132,2057764,2024-05-06 06:37:11.821,20100,None,advertisment,2024-05-06
29004133,2057764,2024-05-06 06:37:11.821,20100,7vGRXiYWFk6NjUnsNjQJQd,like,2024-05-06
29004134,2057764,2024-05-06 06:40:34.894,20100,13VDHbpoKlRhtgUaWTE2Ld,play,2024-05-06
29004135,2057765,2024-02-07 08:47:43.893,20100,7BFI9QZPQKgYuR2HhDgwbG,play,2024-02-07
29004136,2057765,2024-02-07 08:48:33.224,20100,7BFI9QZPQKgYuR2HhDgwbG,like,2024-02-07

In [6]:
filtered_sessions = sessions.dropna(subset = ['track_id'])
filtered_sessions

,session_id,timestamp,user_id,track_id,event_type,date
0,124,2024-12-21 13:13:30.000,101,3xRcQ04b0l5RiU2w7lJhCD,play,2024-12-21
1,124,2024-12-21 13:16:23.613,101,3xRcQ04b0l5RiU2w7lJhCD,like,2024-12-21
2,124,2024-12-21 13:17:20.920,101,1ZycJRpLOazlLcoFGxGROO,play,2024-12-21
3,125,2024-11-16 05:48:57.640,101,1Tf0qifzTHdDC9RnTW9Di3,play,2024-11-16
4,125,2024-11-16 05:50:37.178,101,1Tf0qifzTHdDC9RnTW9Di3,like,2024-11-16
...,...,...,...,...,...,...
29004131,2057764,2024-05-06 06:36:04.561,20100,7vGRXiYWFk6NjUnsNjQJQd,play,2024-05-06
29004133,2057764,2024-05-06 06:37:11.821,20100,7vGRXiYWFk6NjUnsNjQJQd,like,2024-05-06
29004134,2057764,2024-05-06 06:40:34.894,20100,13VDHbpoKlRhtgUaWTE2Ld,play,2024-05-06
29004135,2057765,2024-02-07 08:47:43.893,20100,7BFI9QZPQKgYuR2HhDgwbG,play,2024-02-07
29004136,2057765,2024-02-07 08:48:33.224,20100,7BFI9QZPQKgYuR2HhDgwbG,like,2024-02-07

In [7]:
events_data_df = pd.DataFrame()

In [8]:
events_data_df["event_type"] = filtered_sessions['event_type']
events_data_df['track_id'] = filtered_sessions['track_id']
events_data_df["timestamp"] = filtered_sessions["timestamp"]

In [9]:
events_data_df

         event_type                track_id               timestamp
0              play  3xRcQ04b0l5RiU2w7lJhCD 2024-12-21 13:13:30.000
1              like  3xRcQ04b0l5RiU2w7lJhCD 2024-12-21 13:16:23.613
2              play  1ZycJRpLOazlLcoFGxGROO 2024-12-21 13:17:20.920
3              play  1Tf0qifzTHdDC9RnTW9Di3 2024-11-16 05:48:57.640
4              like  1Tf0qifzTHdDC9RnTW9Di3 2024-11-16 05:50:37.178
...             ...                     ...                     ...
29004131       play  7vGRXiYWFk6NjUnsNjQJQd 2024-05-06 06:36:04.561
29004133       like  7vGRXiYWFk6NjUnsNjQJQd 2024-05-06 06:37:11.821
29004134       play  13VDHbpoKlRhtgUaWTE2Ld 2024-05-06 06:40:34.894
29004135       play  7BFI9QZPQKgYuR2HhDgwbG 2024-02-07 08:47:43.893
29004136       like  7BFI9QZPQKgYuR2HhDgwbG 2024-02-07 08:48:33.224

[25001047 rows x 3 columns]

In [10]:
events_data_df['timestamp'] = pd.to_datetime(events_data_df['timestamp'])
start_date = events_data_df['timestamp'].min()
events_data_df['week_number'] = ((events_data_df['timestamp'] - start_date).dt.days // 7) + 1
events_data_df['week_range'] = events_data_df['week_number'].apply(
    lambda x: f"week {x} {start_date + pd.Timedelta(weeks=x-1):%Y-%m-%d} - {start_date + pd.Timedelta(weeks=x):%Y-%m-%d}"
)
events_data_df

,event_type,track_id,timestamp,week_number,week_range
0,play,3xRcQ04b0l5RiU2w7lJhCD,2024-12-21 13:13:30.000,49,week 49 2024-12-15 - 2024-12-22
1,like,3xRcQ04b0l5RiU2w7lJhCD,2024-12-21 13:16:23.613,49,week 49 2024-12-15 - 2024-12-22
2,play,1ZycJRpLOazlLcoFGxGROO,2024-12-21 13:17:20.920,49,week 49 2024-12-15 - 2024-12-22
3,play,1Tf0qifzTHdDC9RnTW9Di3,2024-11-16 05:48:57.640,44,week 44 2024-11-10 - 2024-11-17
4,like,1Tf0qifzTHdDC9RnTW9Di3,2024-11-16 05:50:37.178,44,week 44 2024-11-10 - 2024-11-17
...,...,...,...,...,...
29004131,play,7vGRXiYWFk6NjUnsNjQJQd,2024-05-06 06:36:04.561,17,week 17 2024-05-05 - 2024-05-12
29004133,like,7vGRXiYWFk6NjUnsNjQJQd,2024-05-06 06:37:11.821,17,week 17 2024-05-05 - 2024-05-12
29004134,play,13VDHbpoKlRhtgUaWTE2Ld,2024-05-06 06:40:34.894,17,week 17 2024-05-05 - 2024-05-12
29004135,play,7BFI9QZPQKgYuR2HhDgwbG,2024-02-07 08:47:43.893,4,week 4 2024-02-04 - 2024-02-11
29004136,like,7BFI9QZPQKgYuR2HhDgwbG,2024-02-07 08:48:33.224,4,week 4 2024-02-04 - 2024-02-11

In [11]:
events_data_df

,event_type,track_id,timestamp,week_number,week_range
0,play,3xRcQ04b0l5RiU2w7lJhCD,2024-12-21 13:13:30.000,49,week 49 2024-12-15 - 2024-12-22
1,like,3xRcQ04b0l5RiU2w7lJhCD,2024-12-21 13:16:23.613,49,week 49 2024-12-15 - 2024-12-22
2,play,1ZycJRpLOazlLcoFGxGROO,2024-12-21 13:17:20.920,49,week 49 2024-12-15 - 2024-12-22
3,play,1Tf0qifzTHdDC9RnTW9Di3,2024-11-16 05:48:57.640,44,week 44 2024-11-10 - 2024-11-17
4,like,1Tf0qifzTHdDC9RnTW9Di3,2024-11-16 05:50:37.178,44,week 44 2024-11-10 - 2024-11-17
...,...,...,...,...,...
29004131,play,7vGRXiYWFk6NjUnsNjQJQd,2024-05-06 06:36:04.561,17,week 17 2024-05-05 - 2024-05-12
29004133,like,7vGRXiYWFk6NjUnsNjQJQd,2024-05-06 06:37:11.821,17,week 17 2024-05-05 - 2024-05-12
29004134,play,13VDHbpoKlRhtgUaWTE2Ld,2024-05-06 06:40:34.894,17,week 17 2024-05-05 - 2024-05-12
29004135,play,7BFI9QZPQKgYuR2HhDgwbG,2024-02-07 08:47:43.893,4,week 4 2024-02-04 - 2024-02-11
29004136,like,7BFI9QZPQKgYuR2HhDgwbG,2024-02-07 08:48:33.224,4,week 4 2024-02-04 - 2024-02-11

In [12]:
event_counts = events_data_df.groupby(['track_id', 'event_type', 'week_number']).size().unstack(level='event_type', fill_value=0)    .reset_index()
event_counts

event_type                track_id  week_number  like  play  skip
0           003FTlCpBTM4eSqYSWPv4H            1    19    27     2
1           003FTlCpBTM4eSqYSWPv4H            2    16    27     5
2           003FTlCpBTM4eSqYSWPv4H            3    11    18     4
3           003FTlCpBTM4eSqYSWPv4H            4    16    24     5
4           003FTlCpBTM4eSqYSWPv4H            5    12    18     0
...                            ...          ...   ...   ...   ...
650085      7zzoxJbgjme3366mOp5UnH           49     8    10     0
650086      7zzoxJbgjme3366mOp5UnH           50    14    18     1
650087      7zzoxJbgjme3366mOp5UnH           51     7     8     2
650088      7zzoxJbgjme3366mOp5UnH           52    12    18     4
650089      7zzoxJbgjme3366mOp5UnH           53     1     1     0

[650090 rows x 5 columns]

In [13]:
max_week = max(event_counts['week_number'])

In [14]:
all_weeks = pd.DataFrame(
    [(track_id, week) for track_id in event_counts['track_id'].unique() for week in range(1, max_week+1)],
    columns=['track_id', 'week_number']
)

In [15]:
all_weeks

                      track_id  week_number
0       003FTlCpBTM4eSqYSWPv4H            1
1       003FTlCpBTM4eSqYSWPv4H            2
2       003FTlCpBTM4eSqYSWPv4H            3
3       003FTlCpBTM4eSqYSWPv4H            4
4       003FTlCpBTM4eSqYSWPv4H            5
...                        ...          ...
652054  7zzoxJbgjme3366mOp5UnH           49
652055  7zzoxJbgjme3366mOp5UnH           50
652056  7zzoxJbgjme3366mOp5UnH           51
652057  7zzoxJbgjme3366mOp5UnH           52
652058  7zzoxJbgjme3366mOp5UnH           53

[652059 rows x 2 columns]

In [20]:
event_counts.sort_values(by='play')

event_type                track_id  week_number  like  play  skip
221097      2YolSRrYvFxhTGjbiT33yH           53     0     0     1
248320      2sFU5bR4Nsk0SWtZZIc36r           53     0     0     1
275473      3CD75JGmSMKA3RW5RtOwAz           53     0     0     1
154042      1mhVXWduD8ReDwusfaHNwU           53     1     0     1
589633      71iSmEeF0qRVyULABxP75P           53     1     1     0
...                            ...          ...   ...   ...   ...
531914      6Im9k8u9iIzKMrmV7BWtlF           13   254   928    72
499565      5uCax9HTNlzGybIStD3vDh            5   228   934    77
534501      6KfoDhO4XUWSbnyKjNp9c4           13   272   935    79
446730      5FVd6KXrgO9B3JPmC8OPst           13   266   935    69
132895      1XXimziG1uhM0eDNCZCrUl           46   263   950    56

[650090 rows x 5 columns]

In [36]:
event_counts_complete = pd.merge(
    all_weeks,
    event_counts,
    on=['track_id', 'week_number'],
    how='left'
)

In [37]:
event_counts_complete

                      track_id  week_number  like  play  skip
0       003FTlCpBTM4eSqYSWPv4H            0   NaN   NaN   NaN
1       003FTlCpBTM4eSqYSWPv4H            1  19.0  27.0   2.0
2       003FTlCpBTM4eSqYSWPv4H            2  16.0  27.0   5.0
3       003FTlCpBTM4eSqYSWPv4H            3  11.0  18.0   4.0
4       003FTlCpBTM4eSqYSWPv4H            4  16.0  24.0   5.0
...                        ...          ...   ...   ...   ...
664357  7zzoxJbgjme3366mOp5UnH           49   8.0  10.0   0.0
664358  7zzoxJbgjme3366mOp5UnH           50  14.0  18.0   1.0
664359  7zzoxJbgjme3366mOp5UnH           51   7.0   8.0   2.0
664360  7zzoxJbgjme3366mOp5UnH           52  12.0  18.0   4.0
664361  7zzoxJbgjme3366mOp5UnH           53   1.0   1.0   0.0

[664362 rows x 5 columns]

In [38]:
event_counts_complete.fillna(0, inplace=True)

In [39]:
event_counts_complete

                      track_id  week_number  like  play  skip
0       003FTlCpBTM4eSqYSWPv4H            0   0.0   0.0   0.0
1       003FTlCpBTM4eSqYSWPv4H            1  19.0  27.0   2.0
2       003FTlCpBTM4eSqYSWPv4H            2  16.0  27.0   5.0
3       003FTlCpBTM4eSqYSWPv4H            3  11.0  18.0   4.0
4       003FTlCpBTM4eSqYSWPv4H            4  16.0  24.0   5.0
...                        ...          ...   ...   ...   ...
664357  7zzoxJbgjme3366mOp5UnH           49   8.0  10.0   0.0
664358  7zzoxJbgjme3366mOp5UnH           50  14.0  18.0   1.0
664359  7zzoxJbgjme3366mOp5UnH           51   7.0   8.0   2.0
664360  7zzoxJbgjme3366mOp5UnH           52  12.0  18.0   4.0
664361  7zzoxJbgjme3366mOp5UnH           53   1.0   1.0   0.0

[664362 rows x 5 columns]

In [40]:
for col in event_counts.columns[2:]:
    event_counts_complete[col] = event_counts_complete[col].astype(int)

In [41]:
event_counts_complete

                      track_id  week_number  like  play  skip
0       003FTlCpBTM4eSqYSWPv4H            0     0     0     0
1       003FTlCpBTM4eSqYSWPv4H            1    19    27     2
2       003FTlCpBTM4eSqYSWPv4H            2    16    27     5
3       003FTlCpBTM4eSqYSWPv4H            3    11    18     4
4       003FTlCpBTM4eSqYSWPv4H            4    16    24     5
...                        ...          ...   ...   ...   ...
664357  7zzoxJbgjme3366mOp5UnH           49     8    10     0
664358  7zzoxJbgjme3366mOp5UnH           50    14    18     1
664359  7zzoxJbgjme3366mOp5UnH           51     7     8     2
664360  7zzoxJbgjme3366mOp5UnH           52    12    18     4
664361  7zzoxJbgjme3366mOp5UnH           53     1     1     0

[664362 rows x 5 columns]

In [42]:
event_counts = events_data_df.groupby(['track_id', 'event_type', 'week_number']).size().unstack(level='event_type', fill_value=0)    .reset_index()
event_counts

event_type                track_id  week_number  like  play  skip
0           003FTlCpBTM4eSqYSWPv4H            1    19    27     2
1           003FTlCpBTM4eSqYSWPv4H            2    16    27     5
2           003FTlCpBTM4eSqYSWPv4H            3    11    18     4
3           003FTlCpBTM4eSqYSWPv4H            4    16    24     5
4           003FTlCpBTM4eSqYSWPv4H            5    12    18     0
...                            ...          ...   ...   ...   ...
650085      7zzoxJbgjme3366mOp5UnH           49     8    10     0
650086      7zzoxJbgjme3366mOp5UnH           50    14    18     1
650087      7zzoxJbgjme3366mOp5UnH           51     7     8     2
650088      7zzoxJbgjme3366mOp5UnH           52    12    18     4
650089      7zzoxJbgjme3366mOp5UnH           53     1     1     0

[650090 rows x 5 columns]

In [43]:
event_counts = event_counts.rename(columns={'play': 'play_count', 'like': 'like_count', 'skip': 'skip_count'})
events_data_df = events_data_df.merge(event_counts, on='track_id', how='inner')
events_data_df = events_data_df.fillna(0)
events_data_df.drop("event_type", axis=1, inplace=True)

:

In [27]:
events_data_df

,track_id,timestamp,week_number_x,week_range,week_number_y,like_count,play_count,skip_count
0,4YPgTCGJWAlHQ5g6eWoM8r,2024-07-13 15:55:37.000,33,week 33 2024-07-10 - 2024-07-17,7,0,1,0
1,4YPgTCGJWAlHQ5g6eWoM8r,2024-07-13 15:55:37.000,33,week 33 2024-07-10 - 2024-07-17,33,0,1,0
2,4p8QcNkaq2FQj8uGJ7HEDK,2024-06-20 06:31:23.547,30,week 30 2024-06-19 - 2024-06-26,1,0,1,0
3,4p8QcNkaq2FQj8uGJ7HEDK,2024-06-20 06:31:23.547,30,week 30 2024-06-19 - 2024-06-26,15,1,1,1
4,4p8QcNkaq2FQj8uGJ7HEDK,2024-06-20 06:31:23.547,30,week 30 2024-06-19 - 2024-06-26,30,0,1,0
...,...,...,...,...,...,...,...,...
36654,4COFVKhvXA3LecFReH6D2v,2024-08-11 13:42:19.523,37,week 37 2024-08-07 - 2024-08-14,12,0,1,0
36655,4COFVKhvXA3LecFReH6D2v,2024-08-11 13:42:19.523,37,week 37 2024-08-07 - 2024-08-14,37,1,1,0
36656,6vPAmoERUMRoTZaCCSWQ12,2024-08-11 13:44:50.582,37,week 37 2024-08-07 - 2024-08-14,37,0,1,0
36657,5A32KQZznC2HSqr9qzTl2N,2024-08-11 13:49:36.582,37,week 37 2024-08-07 - 2024-08-14,37,0,1,0
36658,3YkDslZvvMixTwgDId0aYB,2024-08-11 13:54:51.169,37,week 37 2024-08-07 - 2024-08-14,37,0,1,0

In [28]:
events_data_df=events_data_df.groupby(['track_id', 'week_range'])[['like_count', 'play_count', 'skip_count']].sum().reset_index()