In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
sessions = pd.read_json("../data-v2/sessions.jsonl",lines=True)

In [4]:
sessions

,session_id,timestamp,user_id,track_id,event_type
0,124,2024-07-13 15:55:37.000,101,4YPgTCGJWAlHQ5g6eWoM8r,play
1,125,2024-06-20 06:31:23.547,101,4p8QcNkaq2FQj8uGJ7HEDK,play
2,125,2024-06-20 06:35:43.814,101,4GKk1uNzpxIptBuaY97Dkj,play
3,125,2024-06-20 06:39:13.270,101,4GKk1uNzpxIptBuaY97Dkj,like
4,125,2024-06-20 06:40:43.481,101,0ZO2iSS12JTftv10cSCYf8,play
...,...,...,...,...,...
26342,4755,2024-08-11 13:40:51.342,150,4COFVKhvXA3LecFReH6D2v,play
26343,4755,2024-08-11 13:42:19.523,150,4COFVKhvXA3LecFReH6D2v,like
26344,4755,2024-08-11 13:44:50.582,150,6vPAmoERUMRoTZaCCSWQ12,play
26345,4755,2024-08-11 13:49:36.582,150,5A32KQZznC2HSqr9qzTl2N,play
26346,4755,2024-08-11 13:54:51.169,150,3YkDslZvvMixTwgDId0aYB,play

In [44]:
sessions['date'] = sessions['timestamp'].dt.date

In [45]:
sessions

,session_id,timestamp,user_id,track_id,event_type,date
0,124,2024-07-13 15:55:37.000,101,4YPgTCGJWAlHQ5g6eWoM8r,play,2024-07-13
1,125,2024-06-20 06:31:23.547,101,4p8QcNkaq2FQj8uGJ7HEDK,play,2024-06-20
2,125,2024-06-20 06:35:43.814,101,4GKk1uNzpxIptBuaY97Dkj,play,2024-06-20
3,125,2024-06-20 06:39:13.270,101,4GKk1uNzpxIptBuaY97Dkj,like,2024-06-20
4,125,2024-06-20 06:40:43.481,101,0ZO2iSS12JTftv10cSCYf8,play,2024-06-20
...,...,...,...,...,...,...
26342,4755,2024-08-11 13:40:51.342,150,4COFVKhvXA3LecFReH6D2v,play,2024-08-11
26343,4755,2024-08-11 13:42:19.523,150,4COFVKhvXA3LecFReH6D2v,like,2024-08-11
26344,4755,2024-08-11 13:44:50.582,150,6vPAmoERUMRoTZaCCSWQ12,play,2024-08-11
26345,4755,2024-08-11 13:49:36.582,150,5A32KQZznC2HSqr9qzTl2N,play,2024-08-11
26346,4755,2024-08-11 13:54:51.169,150,3YkDslZvvMixTwgDId0aYB,play,2024-08-11

In [46]:
filtered_sessions = sessions.dropna(subset = ['track_id'])
filtered_sessions

,session_id,timestamp,user_id,track_id,event_type,date
0,124,2024-07-13 15:55:37.000,101,4YPgTCGJWAlHQ5g6eWoM8r,play,2024-07-13
1,125,2024-06-20 06:31:23.547,101,4p8QcNkaq2FQj8uGJ7HEDK,play,2024-06-20
2,125,2024-06-20 06:35:43.814,101,4GKk1uNzpxIptBuaY97Dkj,play,2024-06-20
3,125,2024-06-20 06:39:13.270,101,4GKk1uNzpxIptBuaY97Dkj,like,2024-06-20
4,125,2024-06-20 06:40:43.481,101,0ZO2iSS12JTftv10cSCYf8,play,2024-06-20
...,...,...,...,...,...,...
26342,4755,2024-08-11 13:40:51.342,150,4COFVKhvXA3LecFReH6D2v,play,2024-08-11
26343,4755,2024-08-11 13:42:19.523,150,4COFVKhvXA3LecFReH6D2v,like,2024-08-11
26344,4755,2024-08-11 13:44:50.582,150,6vPAmoERUMRoTZaCCSWQ12,play,2024-08-11
26345,4755,2024-08-11 13:49:36.582,150,5A32KQZznC2HSqr9qzTl2N,play,2024-08-11
26346,4755,2024-08-11 13:54:51.169,150,3YkDslZvvMixTwgDId0aYB,play,2024-08-11

In [56]:
events_data_df = pd.DataFrame()

In [57]:
events_data_df["event_type"] = filtered_sessions['event_type']
events_data_df['track_id'] = filtered_sessions['track_id']
events_data_df["timestamp"] = filtered_sessions["timestamp"]

In [58]:
events_data_df

      event_type                track_id               timestamp
0           play  4YPgTCGJWAlHQ5g6eWoM8r 2024-07-13 15:55:37.000
1           play  4p8QcNkaq2FQj8uGJ7HEDK 2024-06-20 06:31:23.547
2           play  4GKk1uNzpxIptBuaY97Dkj 2024-06-20 06:35:43.814
3           like  4GKk1uNzpxIptBuaY97Dkj 2024-06-20 06:39:13.270
4           play  0ZO2iSS12JTftv10cSCYf8 2024-06-20 06:40:43.481
...          ...                     ...                     ...
26342       play  4COFVKhvXA3LecFReH6D2v 2024-08-11 13:40:51.342
26343       like  4COFVKhvXA3LecFReH6D2v 2024-08-11 13:42:19.523
26344       play  6vPAmoERUMRoTZaCCSWQ12 2024-08-11 13:44:50.582
26345       play  5A32KQZznC2HSqr9qzTl2N 2024-08-11 13:49:36.582
26346       play  3YkDslZvvMixTwgDId0aYB 2024-08-11 13:54:51.169

[22611 rows x 3 columns]

In [59]:
events_data_df['timestamp'] = pd.to_datetime(events_data_df['timestamp'])
start_date = events_data_df['timestamp'].min()
events_data_df['week_number'] = ((events_data_df['timestamp'] - start_date).dt.days // 7) + 1
events_data_df['week_range'] = events_data_df['week_number'].apply(
    lambda x: f"week {x} {start_date + pd.Timedelta(weeks=x-1):%Y-%m-%d} - {start_date + pd.Timedelta(weeks=x):%Y-%m-%d}"
)
events_data_df

,event_type,track_id,timestamp,week_number,week_range
0,play,4YPgTCGJWAlHQ5g6eWoM8r,2024-07-13 15:55:37.000,33,week 33 2024-07-10 - 2024-07-17
1,play,4p8QcNkaq2FQj8uGJ7HEDK,2024-06-20 06:31:23.547,30,week 30 2024-06-19 - 2024-06-26
2,play,4GKk1uNzpxIptBuaY97Dkj,2024-06-20 06:35:43.814,30,week 30 2024-06-19 - 2024-06-26
3,like,4GKk1uNzpxIptBuaY97Dkj,2024-06-20 06:39:13.270,30,week 30 2024-06-19 - 2024-06-26
4,play,0ZO2iSS12JTftv10cSCYf8,2024-06-20 06:40:43.481,30,week 30 2024-06-19 - 2024-06-26
...,...,...,...,...,...
26342,play,4COFVKhvXA3LecFReH6D2v,2024-08-11 13:40:51.342,37,week 37 2024-08-07 - 2024-08-14
26343,like,4COFVKhvXA3LecFReH6D2v,2024-08-11 13:42:19.523,37,week 37 2024-08-07 - 2024-08-14
26344,play,6vPAmoERUMRoTZaCCSWQ12,2024-08-11 13:44:50.582,37,week 37 2024-08-07 - 2024-08-14
26345,play,5A32KQZznC2HSqr9qzTl2N,2024-08-11 13:49:36.582,37,week 37 2024-08-07 - 2024-08-14
26346,play,3YkDslZvvMixTwgDId0aYB,2024-08-11 13:54:51.169,37,week 37 2024-08-07 - 2024-08-14

In [60]:
events_data_df

,event_type,track_id,timestamp,week_number,week_range
0,play,4YPgTCGJWAlHQ5g6eWoM8r,2024-07-13 15:55:37.000,33,week 33 2024-07-10 - 2024-07-17
1,play,4p8QcNkaq2FQj8uGJ7HEDK,2024-06-20 06:31:23.547,30,week 30 2024-06-19 - 2024-06-26
2,play,4GKk1uNzpxIptBuaY97Dkj,2024-06-20 06:35:43.814,30,week 30 2024-06-19 - 2024-06-26
3,like,4GKk1uNzpxIptBuaY97Dkj,2024-06-20 06:39:13.270,30,week 30 2024-06-19 - 2024-06-26
4,play,0ZO2iSS12JTftv10cSCYf8,2024-06-20 06:40:43.481,30,week 30 2024-06-19 - 2024-06-26
...,...,...,...,...,...
26342,play,4COFVKhvXA3LecFReH6D2v,2024-08-11 13:40:51.342,37,week 37 2024-08-07 - 2024-08-14
26343,like,4COFVKhvXA3LecFReH6D2v,2024-08-11 13:42:19.523,37,week 37 2024-08-07 - 2024-08-14
26344,play,6vPAmoERUMRoTZaCCSWQ12,2024-08-11 13:44:50.582,37,week 37 2024-08-07 - 2024-08-14
26345,play,5A32KQZznC2HSqr9qzTl2N,2024-08-11 13:49:36.582,37,week 37 2024-08-07 - 2024-08-14
26346,play,3YkDslZvvMixTwgDId0aYB,2024-08-11 13:54:51.169,37,week 37 2024-08-07 - 2024-08-14

In [ ]:
event_counts = events_data_df.groupby(['track_id', 'event_type', 'week_number']).size().unstack(level='event_type', fill_value=0)    .reset_index()
event_counts

In [71]:
max_week = max(event_counts['week_number'])

In [72]:
all_weeks = pd.DataFrame(
    [(track_id, week) for track_id in event_counts['track_id'].unique() for week in range(max_week+1)],
    columns=['track_id', 'week_number']
)

In [73]:
all_weeks

                      track_id  week_number
0       000xYdQfIZ4pDmBGzQalKU            0
1       000xYdQfIZ4pDmBGzQalKU            1
2       000xYdQfIZ4pDmBGzQalKU            2
3       000xYdQfIZ4pDmBGzQalKU            3
4       000xYdQfIZ4pDmBGzQalKU            4
...                        ...          ...
565876  7zycSpvjDcqh6YT1FEl2kY           48
565877  7zycSpvjDcqh6YT1FEl2kY           49
565878  7zycSpvjDcqh6YT1FEl2kY           50
565879  7zycSpvjDcqh6YT1FEl2kY           51
565880  7zycSpvjDcqh6YT1FEl2kY           52

[565881 rows x 2 columns]

In [74]:
event_counts

event_type,track_id,week_number,like_count,play_count,skip_count
0,000xYdQfIZ4pDmBGzQalKU,6,0,1,0
1,000xYdQfIZ4pDmBGzQalKU,33,0,1,0
2,003FTlCpBTM4eSqYSWPv4H,28,0,1,0
3,003vvx7Niy0yvhvHt4a68B,26,0,1,0
4,005Dlt8Xaz3DkaXiRJgdiS,47,0,1,0
...,...,...,...,...,...
14350,7zscdQe9CjzXnqT3P1Ey7K,43,0,1,0
14351,7zscdQe9CjzXnqT3P1Ey7K,49,1,1,0
14352,7zuwr7YqqpveNtxlKe1vn6,39,1,1,0
14353,7zv5oGRQoJX09QM3pkvI1w,46,0,1,0
14354,7zycSpvjDcqh6YT1FEl2kY,18,0,1,0

In [75]:
event_counts_complete = pd.merge(
    all_weeks,
    event_counts,
    on=['track_id', 'week_number'],
    how='left'
)

In [76]:
event_counts_complete

,track_id,week_number,like_count,play_count,skip_count
0,000xYdQfIZ4pDmBGzQalKU,0,NaN,NaN,NaN
1,000xYdQfIZ4pDmBGzQalKU,1,NaN,NaN,NaN
2,000xYdQfIZ4pDmBGzQalKU,2,NaN,NaN,NaN
3,000xYdQfIZ4pDmBGzQalKU,3,NaN,NaN,NaN
4,000xYdQfIZ4pDmBGzQalKU,4,NaN,NaN,NaN
...,...,...,...,...,...
565876,7zycSpvjDcqh6YT1FEl2kY,48,NaN,NaN,NaN
565877,7zycSpvjDcqh6YT1FEl2kY,49,NaN,NaN,NaN
565878,7zycSpvjDcqh6YT1FEl2kY,50,NaN,NaN,NaN
565879,7zycSpvjDcqh6YT1FEl2kY,51,NaN,NaN,NaN
565880,7zycSpvjDcqh6YT1FEl2kY,52,NaN,NaN,NaN

In [77]:
event_counts_complete.fillna(0, inplace=True)

In [78]:
event_counts_complete

,track_id,week_number,like_count,play_count,skip_count
0,000xYdQfIZ4pDmBGzQalKU,0,0.0,0.0,0.0
1,000xYdQfIZ4pDmBGzQalKU,1,0.0,0.0,0.0
2,000xYdQfIZ4pDmBGzQalKU,2,0.0,0.0,0.0
3,000xYdQfIZ4pDmBGzQalKU,3,0.0,0.0,0.0
4,000xYdQfIZ4pDmBGzQalKU,4,0.0,0.0,0.0
...,...,...,...,...,...
565876,7zycSpvjDcqh6YT1FEl2kY,48,0.0,0.0,0.0
565877,7zycSpvjDcqh6YT1FEl2kY,49,0.0,0.0,0.0
565878,7zycSpvjDcqh6YT1FEl2kY,50,0.0,0.0,0.0
565879,7zycSpvjDcqh6YT1FEl2kY,51,0.0,0.0,0.0
565880,7zycSpvjDcqh6YT1FEl2kY,52,0.0,0.0,0.0

In [79]:
for col in event_counts.columns[2:]:
    event_counts_complete[col] = event_counts_complete[col].astype(int)

In [80]:
event_counts_complete

,track_id,week_number,like_count,play_count,skip_count
0,000xYdQfIZ4pDmBGzQalKU,0,0,0,0
1,000xYdQfIZ4pDmBGzQalKU,1,0,0,0
2,000xYdQfIZ4pDmBGzQalKU,2,0,0,0
3,000xYdQfIZ4pDmBGzQalKU,3,0,0,0
4,000xYdQfIZ4pDmBGzQalKU,4,0,0,0
...,...,...,...,...,...
565876,7zycSpvjDcqh6YT1FEl2kY,48,0,0,0
565877,7zycSpvjDcqh6YT1FEl2kY,49,0,0,0
565878,7zycSpvjDcqh6YT1FEl2kY,50,0,0,0
565879,7zycSpvjDcqh6YT1FEl2kY,51,0,0,0
565880,7zycSpvjDcqh6YT1FEl2kY,52,0,0,0

In [65]:
event_counts = events_data_df.groupby(['track_id', 'event_type', 'week_number']).size().unstack(level='event_type', fill_value=0)    .reset_index()
event_counts

event_type                track_id  week_number  like  play  skip
0           000xYdQfIZ4pDmBGzQalKU            6     0     1     0
1           000xYdQfIZ4pDmBGzQalKU           33     0     1     0
2           003FTlCpBTM4eSqYSWPv4H           28     0     1     0
3           003vvx7Niy0yvhvHt4a68B           26     0     1     0
4           005Dlt8Xaz3DkaXiRJgdiS           47     0     1     0
...                            ...          ...   ...   ...   ...
14350       7zscdQe9CjzXnqT3P1Ey7K           43     0     1     0
14351       7zscdQe9CjzXnqT3P1Ey7K           49     1     1     0
14352       7zuwr7YqqpveNtxlKe1vn6           39     1     1     0
14353       7zv5oGRQoJX09QM3pkvI1w           46     0     1     0
14354       7zycSpvjDcqh6YT1FEl2kY           18     0     1     0

[14355 rows x 5 columns]

In [66]:
event_counts = event_counts.rename(columns={'play': 'play_count', 'like': 'like_count', 'skip': 'skip_count'})
events_data_df = events_data_df.merge(event_counts, on='track_id', how='inner')
events_data_df = events_data_df.fillna(0)
events_data_df.drop("event_type", axis=1, inplace=True)

In [67]:
events_data_df

,track_id,timestamp,week_number_x,week_range,week_number_y,like_count,play_count,skip_count
0,4YPgTCGJWAlHQ5g6eWoM8r,2024-07-13 15:55:37.000,33,week 33 2024-07-10 - 2024-07-17,7,0,1,0
1,4YPgTCGJWAlHQ5g6eWoM8r,2024-07-13 15:55:37.000,33,week 33 2024-07-10 - 2024-07-17,33,0,1,0
2,4p8QcNkaq2FQj8uGJ7HEDK,2024-06-20 06:31:23.547,30,week 30 2024-06-19 - 2024-06-26,1,0,1,0
3,4p8QcNkaq2FQj8uGJ7HEDK,2024-06-20 06:31:23.547,30,week 30 2024-06-19 - 2024-06-26,15,1,1,1
4,4p8QcNkaq2FQj8uGJ7HEDK,2024-06-20 06:31:23.547,30,week 30 2024-06-19 - 2024-06-26,30,0,1,0
...,...,...,...,...,...,...,...,...
36654,4COFVKhvXA3LecFReH6D2v,2024-08-11 13:42:19.523,37,week 37 2024-08-07 - 2024-08-14,12,0,1,0
36655,4COFVKhvXA3LecFReH6D2v,2024-08-11 13:42:19.523,37,week 37 2024-08-07 - 2024-08-14,37,1,1,0
36656,6vPAmoERUMRoTZaCCSWQ12,2024-08-11 13:44:50.582,37,week 37 2024-08-07 - 2024-08-14,37,0,1,0
36657,5A32KQZznC2HSqr9qzTl2N,2024-08-11 13:49:36.582,37,week 37 2024-08-07 - 2024-08-14,37,0,1,0
36658,3YkDslZvvMixTwgDId0aYB,2024-08-11 13:54:51.169,37,week 37 2024-08-07 - 2024-08-14,37,0,1,0

In [16]:
events_data_df=events_data_df.groupby(['track_id', 'week_range'])[['like_count', 'play_count', 'skip_count']].sum().reset_index()

KeyError: "Columns not found: 'play_count', 'skip_count', 'like_count'"