In [1]:
import pandas as pd

In [3]:
df = pd.read_json("artists.jsonl",lines=True)

In [4]:
df

,id,name,genres
0,7jVv8c5Fj3E9VhNjxT4snq,Lil Nas X,"[country rap, lgbtq+ hip hop, pop rap, queer c..."
1,0xRXCcSX89eobfrshSVdyu,MEDUZA,"[dance pop, edm, pop dance, pop house, tropica..."
2,3OKg7YbOIatODzkRIbLJR4,TheFatRat,[speedrun]
3,4f7KfxeHq9BiylGmyXepGt,Tanishk Bagchi,"[desi pop, filmi, modern bollywood]"
4,56mfhUDKa1vec6rSLZV5Eg,Jawsh 685,[nz pop]
...,...,...,...
1662,6AMd49uBDJfhf30Ak2QR5s,Coi Leray,"[pop r&b, r&b, trap queen, viral rap]"
1663,6qgnBH6iDM91ipVXv28OMu,KAYTRANADA,"[escape room, indie soul, lgbtq+ hip hop]"
1664,5q8HGNo0BjLWaTAhRtbwxa,Brantley Gilbert,"[contemporary country, country, country road, ..."
1665,26T4yOaOoFJvUvxR87Y9HO,Bethel Music,"[ambient worship, ccm, christian music, deep c..."
1666,46MWeeHNVMYRIIofQBEX98,BEAM,"[trap soul, underground hip hop]"

In [36]:
df_id_null = df[df["id"] == -1]

In [37]:
df_id_null

,id,name,genres
17,-1,Lunay,"[latin, latin pop, reggaeton, reggaeton flow, ..."
21,-1,Okieriete Onaodowan,[show tunes]
40,-1,Ricky Montgomery,"[alt z, indie pop, la indie, pop]"
43,-1,Social House,[pop rap]
81,-1,ILLENIUM,"[edm, electropop, melodic dubstep, pop, pop da..."
...,...,...,...
1602,-1,Beéle,[reggaeton colombiano]
1619,-1,Stray Kids,"[k-pop, k-pop boy group]"
1630,-1,Grupo Firme,"[corrido, norteno, nuevo regional mexicano, re..."
1634,-1,Colbie Caillat,"[dance pop, neo mellow, pop, pop rock, post-te..."
1650,-1,Saweetie,"[cali rap, dance pop, pop, pop rap, post-teen ..."

In [32]:
df_genres_empty = df[df["genres"].isnull()]

In [33]:
df_genres_empty

                          id            name genres
31    6MF9fzBmfXghAz953czmBC       Taio Cruz   None
53    4GNC7GD6oZMSxPGyXy4MNB   Lewis Capaldi   None
85    5K8Rmjmf4RZFffz94EmBRt     Zé Vaqueiro   None
101   7gXb99Sf9nNmpNYeAgIQFG       Sub Urban   None
117   2kqUKsTuEj1lPbm6BSn1AU  Rich Music LTD   None
...                      ...             ...    ...
1577  0KPX4Ucy9dk82uj4GpKesn           Dalex   None
1631  4oUHIQIBe0LHzYfvXNW4QM   Morgan Wallen   None
1642  2PJEagPIxaBugeMjIyKVXF           Aitch   None
1648  3Gm5F95VdRxW3mqCn8RPBJ           Aminé   None
1660  2iojnBLj0qIMiKPvVhLnsH      Trey Songz   None

[77 rows x 3 columns]

id
-1                        88
5Asmk7uzCjVJN77MLDnvma     1
59wfkuBoNyhDMQGCljbUbA     1
59jlthNnbmim5l9tmNA7se     1
592JnViQ2tot63c1SbtgK2     1
                          ..
2WX2uTcsvV5OnS0inACecP     1
2WBJQGf1bT1kxuoqziH5g4     1
2VZNmg4vCnew4Pavo8zDdW     1
2VYQTNDsvvKN9wmU5W7xpj     1
7zxFc10N9BP2lg73b8cwZ0     1
Name: count, Length: 1580, dtype: int64

In [19]:
df["genres"].tail(1000)

667                                                  None
668          [hip hop, kansas city hip hop, pop rap, rap]
669     [alt z, dance pop, electropop, indie poptimism...
670                                       [norwegian pop]
671             [boy band, dance pop, pop, post-teen pop]
                              ...
1662                [pop r&b, r&b, trap queen, viral rap]
1663            [escape room, indie soul, lgbtq+ hip hop]
1664    [contemporary country, country, country road, ...
1665    [ambient worship, ccm, christian music, deep c...
1666                     [trap soul, underground hip hop]
Name: genres, Length: 1000, dtype: object

0       False
1       False
2       False
3       False
4       False
        ...
1662    False
1663    False
1664    False
1665    False
1666    False
Name: genres, Length: 1667, dtype: bool

In [41]:
merge_df = pd.merge(df_id_null, df_genres_empty,how="outer", on=["name"])

In [40]:
print(type(df_genres_empty))

<class 'pandas.core.frame.DataFrame'>

In [42]:
merge_df

,id_x,name,genres_x,id_y,genres_y
0,-1,$NOT,"[dark trap, florida rap, underground hip hop, ...",NaN,NaN
1,-1,(G)I-DLE,"[k-pop, k-pop girl group]",NaN,NaN
2,NaN,A7S,NaN,5Wg2b4Mp42gicxEeDNawf7,None
3,NaN,ATB,NaN,7jZM5w05mGhw6wTB1okhD9,None
4,-1,ATEEZ,"[k-pop, k-pop boy group]",NaN,NaN
...,...,...,...,...,...
158,-1,Yo Yo Honey Singh,"[desi pop, filmi, hindi hip hop, modern bollyw...",NaN,NaN
159,NaN,ZHU,NaN,28j8lBWDdDSHSSt5oPlsX2,None
160,NaN,Zé Vaqueiro,NaN,5K8Rmjmf4RZFffz94EmBRt,None
161,NaN,beabadoobee,NaN,35l9BRT7MXmM8bv2WDQiyB,None
162,NaN,girl in red,NaN,3uwAm6vQy7kWPS2bciKWx9,None

In [43]:
df["name"].value_counts().

name
Lil Nas X                       1
Elevation Worship               1
Aleman                          1
Florence + The Machine          1
Timmy Trumpet                   1
                               ..
Royal Philharmonic Orchestra    1
Kid Rock                        1
Popcaan                         1
Sara Kays                       1
BEAM                            1
Name: count, Length: 1667, dtype: int64

# Sessions

In [45]:
df_sessions = pd.read_json("sessions.jsonl", lines=True)

In [46]:
df_sessions

,session_id,timestamp,user_id,track_id,event_type
0,124,2023-10-25 10:13:55.258944,601.0,1Duym1lVQurgKHHSqpOWhY,play
1,124,2023-10-25 10:15:29.065944,601.0,None,skip
2,124,2023-10-25 10:15:34.065944,601.0,None,advertisment
3,124,2023-10-25 10:15:34.065944,601.0,6XFduBZIOMyOV8sCcHuYzb,play
4,124,2023-10-25 10:16:21.994944,601.0,6XFduBZIOMyOV8sCcHuYzb,like
...,...,...,...,...,...
26759,4904,2023-05-11 13:06:24.429036,650.0,None,advertisment
26760,4904,2023-05-11 13:06:24.429036,650.0,3GqdYA40CzErF1Um7ZzK5P,skip
26761,4904,2023-05-11 13:06:29.429036,650.0,1kgdslQYmeTR4thk9whoRw,play
26762,4904,2023-05-11 13:11:06.189036,650.0,0OYusiiiDYU33GJYsMzUc0,play
26763,4904,2023-05-11 13:14:58.509036,650.0,0ePI3CMwhjRV3ZWas3gTU9,play

In [47]:
df_sessions_skip = df_sessions[df_sessions["event_type"] == "skip"]

In [48]:
df_sessions_skip

,session_id,timestamp,user_id,track_id,event_type
1,124,2023-10-25 10:15:29.065944,601.0,None,skip
5,124,2023-10-25 10:17:49.679944,601.0,None,skip
7,124,2023-10-25 10:20:52.121944,601.0,2fXLhLA7cPYEmQ1NbeAtBD,skip
13,126,2023-09-18 22:59:25.207665,601.0,722tgOgdIbNe3BEyLnejw4,skip
27,133,2023-10-06 16:11:24.893727,601.0,62Lv9WcrfzJqhvYDbilJy3,skip
...,...,...,...,...,...
26739,4901,2023-06-20 11:38:24.332132,650.0,2oMOqX9k4k16odibNkYyrD,skip
26743,4902,2023-09-11 21:49:52.922687,650.0,5IKqS0Kmme9uVOVjulysEV,skip
26751,4903,2023-10-27 11:05:03.455425,650.0,4PFhHd7DsNg0ke9Nmlxms5,skip
26755,4904,2023-05-11 13:02:09.772036,650.0,1eUGmzzvahJjOSWgDHuRlv,skip
26760,4904,2023-05-11 13:06:24.429036,650.0,3GqdYA40CzErF1Um7ZzK5P,skip

In [51]:
df_sessions_adv = df_sessions[df_sessions["event_type"] == "advertisment"]

In [52]:
df_sessions_adv

       session_id                  timestamp  user_id track_id    event_type
2             124 2023-10-25 10:15:34.065944    601.0     None  advertisment
15            126 2023-09-18 22:59:38.899665    601.0     None  advertisment
41            134 2023-09-30 11:36:01.904759    601.0     None  advertisment
45            136 2023-12-27 05:32:21.336953    601.0     None  advertisment
48            137 2023-07-14 03:34:28.218117    601.0     None  advertisment
...           ...                        ...      ...      ...           ...
26732        4900 2023-10-04 06:05:16.576142      NaN     None  advertisment
26738        4901 2023-06-20 11:38:24.332132    650.0     None  advertisment
26742        4902 2023-09-11 21:49:52.922687    650.0     None  advertisment
26750        4903 2023-10-27 11:05:03.455425    650.0     None  advertisment
26759        4904 2023-05-11 13:06:24.429036    650.0     None  advertisment

[3558 rows x 5 columns]

In [53]:
df_sessions["event_type"].value_counts()

event_type
play            14115
skip             4341
advertisment     3558
like             3434
Name: count, dtype: int64

In [54]:
df_sessions_missing_event_type = df_sessions[df_sessions["event_type"].isnull()]

In [55]:
df_sessions_missing_event_type

,session_id,timestamp,user_id,track_id,event_type
23,131,2023-07-11 22:20:47.391754,601.0,4LiQ8uAynrXFWY0vimnAa1,None
36,134,2023-09-30 11:23:03.306759,601.0,None,None
38,134,2023-09-30 11:29:52.173759,601.0,6BrBfpzwv7ovcXVaZrULuJ,None
44,136,2023-12-27 05:27:02.869953,601.0,2fw0DgUc8GTNxZ2BAv9Fih,None
46,137,2023-07-14 03:28:35.071117,601.0,6ZANrVuAMp2rpjhfbOuJly,None
...,...,...,...,...,...
26577,4878,2023-12-02 13:50:03.005125,650.0,22LAwLoDA5b4AaGSkg6bKW,None
26583,4879,2023-07-28 14:48:58.405166,650.0,017PF4Q3l4DBUiWoXk4OWT,None
26646,4888,2023-11-22 16:57:20.154047,650.0,2YiqBesMJpszYU6raDOG0R,None
26690,4894,2023-12-25 16:38:52.881495,650.0,4OZDQWP8vOUtwunv0yKHZm,None
26693,4894,2023-12-25 16:40:39.280495,NaN,5FPnjikbwlDMULCCCa6ZCJ,None

In [56]:
df_user_id_na = df_sessions[df_sessions["user_id"].isna()]

In [57]:
df_user_id_na

,session_id,timestamp,user_id,track_id,event_type
66,141,2023-10-07 14:38:21.728942,NaN,None,advertisment
77,144,2023-10-13 01:54:48.655142,NaN,3EWaR09H3TkRgaLTIheYFr,play
128,153,2023-06-09 20:57:09.675855,NaN,2oy5kjcc7itM64xk00Gz2c,None
132,154,2023-09-27 10:42:56.853782,NaN,3mKdw0slI6wmnb1FBrvwn2,skip
148,155,2023-05-20 00:36:57.952039,NaN,0iTJV7IHhkgzWk5x0WgUHy,like
...,...,...,...,...,...
26644,4888,2023-11-22 16:56:37.433047,NaN,5T1MmDTBxXdCzIK0d76fQs,play
26679,4894,2023-12-25 16:25:25.653495,NaN,None,like
26693,4894,2023-12-25 16:40:39.280495,NaN,5FPnjikbwlDMULCCCa6ZCJ,None
26713,4898,2023-08-12 09:13:22.010921,NaN,1bxP4M9ICllcg7mel8kH89,play
26732,4900,2023-10-04 06:05:16.576142,NaN,None,advertisment

# tracks

In [59]:
df_tracks = pd.read_json("tracks.jsonl", lines="True")

In [60]:
df_tracks

,id,name,popularity,duration_ms,explicit,id_artist,release_date,danceability,energy,key,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,0RNxWy0PC3AyH4ThH3aGK6,Mack the Knife,55.0,201467,0,19eLuQmk9aCobbVDHc6eek,1929,0.673,0.3770,0,-14.141,0.0697,0.5860,0.000000,0.3320,0.7130,88.973
1,2W889aLIKxULEefrleFBFI,Someone to Watch Over Me,54.0,198000,0,1Mxqyy3pSjf8kZZL4QVxS0,1943,0.204,0.1510,2,-17.842,0.0418,0.9470,0.000009,0.3210,0.1340,91.783
2,4Pnzw1nLOpDNV6MKI5ueIR,Nancy (With the Laughing Face) - 78rpm Version,55.0,199000,0,1Mxqyy3pSjf8kZZL4QVxS0,1944,0.295,0.0826,1,-19.569,0.0367,0.9840,0.000358,0.1560,0.1690,128.600
3,7GLmfKOe5BfOXk7334DoKt,Saturday Night (Is The Loneliest Night In The ...,54.0,163000,0,1Mxqyy3pSjf8kZZL4QVxS0,1944,0.561,0.3350,9,-11.093,0.0499,0.8400,0.000002,0.7880,0.5900,126.974
4,6kD1SNGPkfX9LwaGd1FG92,Put Your Dreams Away (For Another Day),53.0,186173,0,1Mxqyy3pSjf8kZZL4QVxS0,1944,0.197,0.0546,1,-22.411,0.0346,0.9500,0.276000,0.1520,0.1000,90.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22407,0LcNMuOiULmxJK3bdHTfDF,Missing You,65.0,214987,0,7gAppWoH7pcYmphCVTXkzs,2019-04-19,0.537,0.6470,2,-7.370,0.0519,0.1680,0.000000,0.1080,0.5310,79.770
22408,1uviKYHZuM4uINK33F7sCt,Fix It to Break It,70.0,198799,0,7okSU80WTrn4LXlyXYbX3P,2020-03-27,0.493,0.4610,2,-8.524,0.0456,0.8450,0.000000,0.1150,0.3500,51.414
22409,1fXmDeiCb3ABt5CzkMxp4u,Lotus Inn,63.0,195868,0,2jnIB6XdLvnJUeNTy5A0J2,2020-12-04,0.578,0.7400,2,-5.080,0.0721,0.0119,0.000000,0.1800,0.4950,155.984
22410,27kcZEJvhkb1rzZS9gCpdA,remember the mornings,67.0,202355,0,7okSU80WTrn4LXlyXYbX3P,2020-11-27,0.590,0.4430,0,-5.662,0.0722,0.6180,0.000000,0.1100,0.3420,149.447
22411,27Y1N4Q4U3EfDU5Ubw8ws2,What They'll Say About Us,70.0,187601,0,37M5pPGs6V1fchFJSgCguX,2020-09-02,0.535,0.3140,7,-12.823,0.0408,0.8950,0.000150,0.0874,0.0663,145.095