In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [31]:
artists = pd.read_json("../data-v1/sessions.jsonl", lines=True)

In [ ]:
artists

In [12]:
unique_genres = set()

In [13]:
gen = artists["genres"]

NameError: name 'artists' is not defined

In [14]:
for i in gen:
    for x in i:
        unique_genres.add(x)

NameError: name 'gen' is not defined

In [15]:
print(len(unique_genres))

0

In [16]:
unique_genres

set()

In [17]:
artists

NameError: name 'artists' is not defined

In [18]:
artists = artists.drop("id", axis=1)

NameError: name 'artists' is not defined

In [19]:
artists_corr = artists.corr()

NameError: name 'artists' is not defined

In [20]:
artists_corr = artists.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(artists_corr, annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Correlation Matrix')
plt.show()

NameError: name 'artists' is not defined

# Sessions

In [32]:
sessions = pd.read_json("../data-v2/sessions.jsonl",lines=True)

In [ ]:
sessions

In [22]:
missing_trackid = sessions[sessions["track_id"].isnull()]

NameError: name 'sessions' is not defined

In [23]:
missing_trackid

NameError: name 'missing_trackid' is not defined

# tracks

In [24]:
tracks = pd.read_json("v2/tracks.jsonl", lines=True)

/var/folders/hh/8rqz1b092v5dmv1p5yh1_gbc0000gn/T/ipykernel_94068/2656680573.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tracks = pd.read_json("v2/tracks.jsonl", lines=True)

ValueError: Expected object or value

In [ ]:
tracks = tracks.drop([ "release_date"], axis=1)

In [25]:
tracks

NameError: name 'tracks' is not defined

In [26]:
def convert_to_datetime(date_str):
    try:
        if len(date_str) == 4:  # Only year
            return pd.to_datetime(date_str + '-01-01')
        elif len(date_str) == 7:  # Year and month
            return pd.to_datetime(date_str + '-01')
        else:  # Full date
            return pd.to_datetime(date_str)
    except Exception as e:
        return pd.NaT

# Apply the function to the release_date column
tracks['release_date'] = tracks['release_date'].apply(convert_to_datetime)

# Convert the datetime to a timestamp (as a number)
tracks['release_date_timestamp'] = tracks['release_date'].apply(lambda x: x.timestamp() if pd.notnull(x) else None)

NameError: name 'tracks' is not defined

In [27]:
tracks_corr = tracks.corr()
plt.figure(figsize=(10, 8))
sns.heatmap(tracks_corr, annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Correlation Matrix')
# plt.show()
plt.savefig("corr.png")

NameError: name 'tracks' is not defined

In [28]:
When this index is below 33, the music tends to be predominantly instrumental, while values above 66 suggest a higher presence of lyrics, implying significant lyrical richness.

SyntaxError: invalid syntax (3329192783.py, line 1)

In [29]:
plt.scatter(tracks["release_date_timestamp"], tracks["popularity"], s=4.20, color='red')
plt.title("Popularność utworów wzgledem daty ich wydania")
plt.xlabel("Release date timestamp")
plt.ylabel("Popularity")
plt.savefig("popularity.png")

NameError: name 'tracks' is not defined

In [30]:
plt.hist(tracks['popularity'], bins=30, color='blue', edgecolor='black')
plt.title("Rozkład popularności")
plt.xlabel('Popularity')
plt.ylabel('Frequency')
plt.savefig('popularity_distribution.png')
plt.show()

NameError: name 'tracks' is not defined

# Tracks with a number of views per day

In [33]:
sessions = pd.read_json("../data-v2/sessions.jsonl",lines=True)

In [34]:
sessions

,session_id,timestamp,user_id,track_id,event_type
0,124,2024-07-13 15:55:37.000,101,4YPgTCGJWAlHQ5g6eWoM8r,play
1,125,2024-06-20 06:31:23.547,101,4p8QcNkaq2FQj8uGJ7HEDK,play
2,125,2024-06-20 06:35:43.814,101,4GKk1uNzpxIptBuaY97Dkj,play
3,125,2024-06-20 06:39:13.270,101,4GKk1uNzpxIptBuaY97Dkj,like
4,125,2024-06-20 06:40:43.481,101,0ZO2iSS12JTftv10cSCYf8,play
...,...,...,...,...,...
26342,4755,2024-08-11 13:40:51.342,150,4COFVKhvXA3LecFReH6D2v,play
26343,4755,2024-08-11 13:42:19.523,150,4COFVKhvXA3LecFReH6D2v,like
26344,4755,2024-08-11 13:44:50.582,150,6vPAmoERUMRoTZaCCSWQ12,play
26345,4755,2024-08-11 13:49:36.582,150,5A32KQZznC2HSqr9qzTl2N,play
26346,4755,2024-08-11 13:54:51.169,150,3YkDslZvvMixTwgDId0aYB,play

In [35]:
sessions['date'] = sessions['timestamp'].dt.date

In [36]:
sessions

,session_id,timestamp,user_id,track_id,event_type,date
0,124,2024-07-13 15:55:37.000,101,4YPgTCGJWAlHQ5g6eWoM8r,play,2024-07-13
1,125,2024-06-20 06:31:23.547,101,4p8QcNkaq2FQj8uGJ7HEDK,play,2024-06-20
2,125,2024-06-20 06:35:43.814,101,4GKk1uNzpxIptBuaY97Dkj,play,2024-06-20
3,125,2024-06-20 06:39:13.270,101,4GKk1uNzpxIptBuaY97Dkj,like,2024-06-20
4,125,2024-06-20 06:40:43.481,101,0ZO2iSS12JTftv10cSCYf8,play,2024-06-20
...,...,...,...,...,...,...
26342,4755,2024-08-11 13:40:51.342,150,4COFVKhvXA3LecFReH6D2v,play,2024-08-11
26343,4755,2024-08-11 13:42:19.523,150,4COFVKhvXA3LecFReH6D2v,like,2024-08-11
26344,4755,2024-08-11 13:44:50.582,150,6vPAmoERUMRoTZaCCSWQ12,play,2024-08-11
26345,4755,2024-08-11 13:49:36.582,150,5A32KQZznC2HSqr9qzTl2N,play,2024-08-11
26346,4755,2024-08-11 13:54:51.169,150,3YkDslZvvMixTwgDId0aYB,play,2024-08-11

In [37]:
sessions = sessions[sessions['event_type'] != 'advertisement']

In [38]:
sessions

,session_id,timestamp,user_id,track_id,event_type,date
0,124,2024-07-13 15:55:37.000,101,4YPgTCGJWAlHQ5g6eWoM8r,play,2024-07-13
1,125,2024-06-20 06:31:23.547,101,4p8QcNkaq2FQj8uGJ7HEDK,play,2024-06-20
2,125,2024-06-20 06:35:43.814,101,4GKk1uNzpxIptBuaY97Dkj,play,2024-06-20
3,125,2024-06-20 06:39:13.270,101,4GKk1uNzpxIptBuaY97Dkj,like,2024-06-20
4,125,2024-06-20 06:40:43.481,101,0ZO2iSS12JTftv10cSCYf8,play,2024-06-20
...,...,...,...,...,...,...
26342,4755,2024-08-11 13:40:51.342,150,4COFVKhvXA3LecFReH6D2v,play,2024-08-11
26343,4755,2024-08-11 13:42:19.523,150,4COFVKhvXA3LecFReH6D2v,like,2024-08-11
26344,4755,2024-08-11 13:44:50.582,150,6vPAmoERUMRoTZaCCSWQ12,play,2024-08-11
26345,4755,2024-08-11 13:49:36.582,150,5A32KQZznC2HSqr9qzTl2N,play,2024-08-11
26346,4755,2024-08-11 13:54:51.169,150,3YkDslZvvMixTwgDId0aYB,play,2024-08-11

In [85]:
sessions[sessions['event_type'] != 'advertisement']
sessions.dropna(subset = ['track_id'])

,session_id,timestamp,user_id,track_id,event_type,date
0,124,2024-07-13 15:55:37.000,101,4YPgTCGJWAlHQ5g6eWoM8r,play,2024-07-13
1,125,2024-06-20 06:31:23.547,101,4p8QcNkaq2FQj8uGJ7HEDK,play,2024-06-20
2,125,2024-06-20 06:35:43.814,101,4GKk1uNzpxIptBuaY97Dkj,play,2024-06-20
3,125,2024-06-20 06:39:13.270,101,4GKk1uNzpxIptBuaY97Dkj,like,2024-06-20
4,125,2024-06-20 06:40:43.481,101,0ZO2iSS12JTftv10cSCYf8,play,2024-06-20
...,...,...,...,...,...,...
26342,4755,2024-08-11 13:40:51.342,150,4COFVKhvXA3LecFReH6D2v,play,2024-08-11
26343,4755,2024-08-11 13:42:19.523,150,4COFVKhvXA3LecFReH6D2v,like,2024-08-11
26344,4755,2024-08-11 13:44:50.582,150,6vPAmoERUMRoTZaCCSWQ12,play,2024-08-11
26345,4755,2024-08-11 13:49:36.582,150,5A32KQZznC2HSqr9qzTl2N,play,2024-08-11
26346,4755,2024-08-11 13:54:51.169,150,3YkDslZvvMixTwgDId0aYB,play,2024-08-11

In [86]:
filtered_sessions = sessions.dropna(subset = ['track_id'])
filtered_sessions

,session_id,timestamp,user_id,track_id,event_type,date
0,124,2024-07-13 15:55:37.000,101,4YPgTCGJWAlHQ5g6eWoM8r,play,2024-07-13
1,125,2024-06-20 06:31:23.547,101,4p8QcNkaq2FQj8uGJ7HEDK,play,2024-06-20
2,125,2024-06-20 06:35:43.814,101,4GKk1uNzpxIptBuaY97Dkj,play,2024-06-20
3,125,2024-06-20 06:39:13.270,101,4GKk1uNzpxIptBuaY97Dkj,like,2024-06-20
4,125,2024-06-20 06:40:43.481,101,0ZO2iSS12JTftv10cSCYf8,play,2024-06-20
...,...,...,...,...,...,...
26342,4755,2024-08-11 13:40:51.342,150,4COFVKhvXA3LecFReH6D2v,play,2024-08-11
26343,4755,2024-08-11 13:42:19.523,150,4COFVKhvXA3LecFReH6D2v,like,2024-08-11
26344,4755,2024-08-11 13:44:50.582,150,6vPAmoERUMRoTZaCCSWQ12,play,2024-08-11
26345,4755,2024-08-11 13:49:36.582,150,5A32KQZznC2HSqr9qzTl2N,play,2024-08-11
26346,4755,2024-08-11 13:54:51.169,150,3YkDslZvvMixTwgDId0aYB,play,2024-08-11

In [87]:
filtered_sessions["user_id"].value_counts()

user_id
125    965
112    915
123    903
119    895
104    885
131    881
122    840
127    806
121    796
149    754
135    740
126    726
143    691
150    660
137    649
109    649
117    631
111    575
132    575
136    532
114    530
102    514
141    510
133    433
107    404
115    391
105    371
124    368
110    336
130    328
145    328
147    306
139    301
103    264
148    248
106    244
118    226
108    188
129    158
128    148
134    147
113    142
101    131
138    120
142    118
140    111
144     73
146     36
120     35
116     34
Name: count, dtype: int64

In [88]:
events_data_df = pd.DataFrame()

In [89]:
events_data_df["event_type"] = filtered_sessions['event_type']
events_data_df['track_id'] = filtered_sessions['track_id']
events_data_df["timestamp"] = filtered_sessions["timestamp"]

In [90]:
events_data_df

      event_type                track_id               timestamp
0           play  4YPgTCGJWAlHQ5g6eWoM8r 2024-07-13 15:55:37.000
1           play  4p8QcNkaq2FQj8uGJ7HEDK 2024-06-20 06:31:23.547
2           play  4GKk1uNzpxIptBuaY97Dkj 2024-06-20 06:35:43.814
3           like  4GKk1uNzpxIptBuaY97Dkj 2024-06-20 06:39:13.270
4           play  0ZO2iSS12JTftv10cSCYf8 2024-06-20 06:40:43.481
...          ...                     ...                     ...
26342       play  4COFVKhvXA3LecFReH6D2v 2024-08-11 13:40:51.342
26343       like  4COFVKhvXA3LecFReH6D2v 2024-08-11 13:42:19.523
26344       play  6vPAmoERUMRoTZaCCSWQ12 2024-08-11 13:44:50.582
26345       play  5A32KQZznC2HSqr9qzTl2N 2024-08-11 13:49:36.582
26346       play  3YkDslZvvMixTwgDId0aYB 2024-08-11 13:54:51.169

[22611 rows x 3 columns]

In [91]:
event_counts = filtered_sessions.groupby(['track_id', 'event_type']).size().unstack(fill_value=0)
event_counts = event_counts.rename(columns={'play': 'play_count', 'like': 'like_count', 'skip': 'skip_count'})
events_data_df = events_data_df.merge(event_counts, on='track_id', how='outer')
events_data_df = events_data_df.fillna(0)
events_data_df.drop("event_type", axis=1, inplace=True)

In [92]:
event_counts = filtered_sessions.groupby(['track_id', 'event_type']).size().unstack(fill_value=0)

In [93]:
event_counts

event_type              like  play  skip
track_id
000xYdQfIZ4pDmBGzQalKU     0     2     0
003FTlCpBTM4eSqYSWPv4H     0     1     0
003vvx7Niy0yvhvHt4a68B     0     1     0
005Dlt8Xaz3DkaXiRJgdiS     0     1     0
005lwxGU1tms6HGELIcUv9     0     2     0
...                      ...   ...   ...
7zo8XAMYBG6nGpqGiIudBc     1     4     2
7zscdQe9CjzXnqT3P1Ey7K     1     2     0
7zuwr7YqqpveNtxlKe1vn6     1     1     0
7zv5oGRQoJX09QM3pkvI1w     0     1     0
7zycSpvjDcqh6YT1FEl2kY     0     1     0

[10677 rows x 3 columns]

In [94]:
event_counts

event_type              like  play  skip
track_id
000xYdQfIZ4pDmBGzQalKU     0     2     0
003FTlCpBTM4eSqYSWPv4H     0     1     0
003vvx7Niy0yvhvHt4a68B     0     1     0
005Dlt8Xaz3DkaXiRJgdiS     0     1     0
005lwxGU1tms6HGELIcUv9     0     2     0
...                      ...   ...   ...
7zo8XAMYBG6nGpqGiIudBc     1     4     2
7zscdQe9CjzXnqT3P1Ey7K     1     2     0
7zuwr7YqqpveNtxlKe1vn6     1     1     0
7zv5oGRQoJX09QM3pkvI1w     0     1     0
7zycSpvjDcqh6YT1FEl2kY     0     1     0

[10677 rows x 3 columns]

In [95]:
events_data_df

,track_id,timestamp,like_count,play_count,skip_count
0,000xYdQfIZ4pDmBGzQalKU,2024-07-15 16:15:43.528,0,2,0
1,000xYdQfIZ4pDmBGzQalKU,2024-01-04 21:25:27.244,0,2,0
2,003FTlCpBTM4eSqYSWPv4H,2024-06-09 16:27:09.992,0,1,0
3,003vvx7Niy0yvhvHt4a68B,2024-05-25 14:18:28.147,0,1,0
4,005Dlt8Xaz3DkaXiRJgdiS,2024-10-18 13:05:56.274,0,1,0
...,...,...,...,...,...
22606,7zscdQe9CjzXnqT3P1Ey7K,2024-10-30 11:00:02.680,1,2,0
22607,7zuwr7YqqpveNtxlKe1vn6,2024-08-26 19:24:49.957,1,1,0
22608,7zuwr7YqqpveNtxlKe1vn6,2024-08-26 19:25:00.055,1,1,0
22609,7zv5oGRQoJX09QM3pkvI1w,2024-10-14 05:04:04.362,0,1,0
22610,7zycSpvjDcqh6YT1FEl2kY,2024-03-31 08:59:51.557,0,1,0

In [96]:
events_data_df['timestamp'] = pd.to_datetime(events_data_df['timestamp'])

# Determine the start date (the earliest timestamp)
start_date = events_data_df['timestamp'].min()

# Calculate the week number from the start date
events_data_df['week_number'] = ((events_data_df['timestamp'] - start_date).dt.days // 7) + 1

# Create a new column with the formatted week range
events_data_df['week_range'] = events_data_df['week_number'].apply(
    lambda x: f"week {x} {start_date + pd.Timedelta(weeks=x-1):%Y-%m-%d} - {start_date + pd.Timedelta(weeks=x):%Y-%m-%d}"
)

# Display the updated DataFrame
print(events_data_df.head())

                 track_id               timestamp  like_count  play_count  \
0  000xYdQfIZ4pDmBGzQalKU 2024-07-15 16:15:43.528           0           2
1  000xYdQfIZ4pDmBGzQalKU 2024-01-04 21:25:27.244           0           2
2  003FTlCpBTM4eSqYSWPv4H 2024-06-09 16:27:09.992           0           1
3  003vvx7Niy0yvhvHt4a68B 2024-05-25 14:18:28.147           0           1
4  005Dlt8Xaz3DkaXiRJgdiS 2024-10-18 13:05:56.274           0           1

   skip_count  week_number                       week_range
0           0           33  week 33 2024-07-10 - 2024-07-17
1           0            6   week 6 2024-01-03 - 2024-01-10
2           0           28  week 28 2024-06-05 - 2024-06-12
3           0           26  week 26 2024-05-22 - 2024-05-29
4           0           47  week 47 2024-10-16 - 2024-10-23

In [97]:
events_data_df

,track_id,timestamp,like_count,play_count,skip_count,week_number,week_range
0,000xYdQfIZ4pDmBGzQalKU,2024-07-15 16:15:43.528,0,2,0,33,week 33 2024-07-10 - 2024-07-17
1,000xYdQfIZ4pDmBGzQalKU,2024-01-04 21:25:27.244,0,2,0,6,week 6 2024-01-03 - 2024-01-10
2,003FTlCpBTM4eSqYSWPv4H,2024-06-09 16:27:09.992,0,1,0,28,week 28 2024-06-05 - 2024-06-12
3,003vvx7Niy0yvhvHt4a68B,2024-05-25 14:18:28.147,0,1,0,26,week 26 2024-05-22 - 2024-05-29
4,005Dlt8Xaz3DkaXiRJgdiS,2024-10-18 13:05:56.274,0,1,0,47,week 47 2024-10-16 - 2024-10-23
...,...,...,...,...,...,...,...
22606,7zscdQe9CjzXnqT3P1Ey7K,2024-10-30 11:00:02.680,1,2,0,49,week 49 2024-10-30 - 2024-11-06
22607,7zuwr7YqqpveNtxlKe1vn6,2024-08-26 19:24:49.957,1,1,0,39,week 39 2024-08-21 - 2024-08-28
22608,7zuwr7YqqpveNtxlKe1vn6,2024-08-26 19:25:00.055,1,1,0,39,week 39 2024-08-21 - 2024-08-28
22609,7zv5oGRQoJX09QM3pkvI1w,2024-10-14 05:04:04.362,0,1,0,46,week 46 2024-10-09 - 2024-10-16
22610,7zycSpvjDcqh6YT1FEl2kY,2024-03-31 08:59:51.557,0,1,0,18,week 18 2024-03-27 - 2024-04-03

weekly_like_counts = events_data_df.groupby(['track_id', 'week_range'])['like_count'].sum().reset_index(

In [106]:
events_data_df=events_data_df.groupby(['track_id', 'week_range'])[['like_count', 'play_count', 'skip_count']].sum().reset_index()

In [103]:
weekly_like_counts

                     track_id                       week_range  like_count
0      000xYdQfIZ4pDmBGzQalKU  week 33 2024-07-10 - 2024-07-17           0
1      000xYdQfIZ4pDmBGzQalKU   week 6 2024-01-03 - 2024-01-10           0
2      003FTlCpBTM4eSqYSWPv4H  week 28 2024-06-05 - 2024-06-12           0
3      003vvx7Niy0yvhvHt4a68B  week 26 2024-05-22 - 2024-05-29           0
4      005Dlt8Xaz3DkaXiRJgdiS  week 47 2024-10-16 - 2024-10-23           0
...                       ...                              ...         ...
14350  7zscdQe9CjzXnqT3P1Ey7K  week 43 2024-09-18 - 2024-09-25           1
14351  7zscdQe9CjzXnqT3P1Ey7K  week 49 2024-10-30 - 2024-11-06           2
14352  7zuwr7YqqpveNtxlKe1vn6  week 39 2024-08-21 - 2024-08-28           2
14353  7zv5oGRQoJX09QM3pkvI1w  week 46 2024-10-09 - 2024-10-16           0
14354  7zycSpvjDcqh6YT1FEl2kY  week 18 2024-03-27 - 2024-04-03           0

[14355 rows x 3 columns]

In [107]:
events_data_df

,track_id,week_range,like_count,play_count,skip_count
0,000xYdQfIZ4pDmBGzQalKU,week 33 2024-07-10 - 2024-07-17,0,2,0
1,000xYdQfIZ4pDmBGzQalKU,week 6 2024-01-03 - 2024-01-10,0,2,0
2,003FTlCpBTM4eSqYSWPv4H,week 28 2024-06-05 - 2024-06-12,0,1,0
3,003vvx7Niy0yvhvHt4a68B,week 26 2024-05-22 - 2024-05-29,0,1,0
4,005Dlt8Xaz3DkaXiRJgdiS,week 47 2024-10-16 - 2024-10-23,0,1,0
...,...,...,...,...,...
14350,7zscdQe9CjzXnqT3P1Ey7K,week 43 2024-09-18 - 2024-09-25,1,2,0
14351,7zscdQe9CjzXnqT3P1Ey7K,week 49 2024-10-30 - 2024-11-06,2,4,0
14352,7zuwr7YqqpveNtxlKe1vn6,week 39 2024-08-21 - 2024-08-28,2,2,0
14353,7zv5oGRQoJX09QM3pkvI1w,week 46 2024-10-09 - 2024-10-16,0,1,0
14354,7zycSpvjDcqh6YT1FEl2kY,week 18 2024-03-27 - 2024-04-03,0,1,0

# artists

In [109]:
artists = pd.read_json("../data-v2/artists.jsonl", lines=True)

In [110]:
artists

,id,name,genres
0,7jVv8c5Fj3E9VhNjxT4snq,Lil Nas X,"[country rap, lgbtq+ hip hop, pop rap, queer c..."
1,0xRXCcSX89eobfrshSVdyu,MEDUZA,"[dance pop, edm, pop dance, pop house, tropica..."
2,3OKg7YbOIatODzkRIbLJR4,TheFatRat,[speedrun]
3,4f7KfxeHq9BiylGmyXepGt,Tanishk Bagchi,"[desi pop, filmi, modern bollywood]"
4,56mfhUDKa1vec6rSLZV5Eg,Jawsh 685,[nz pop]
...,...,...,...
1662,6AMd49uBDJfhf30Ak2QR5s,Coi Leray,"[pop r&b, r&b, trap queen, viral rap]"
1663,6qgnBH6iDM91ipVXv28OMu,KAYTRANADA,"[escape room, indie soul, lgbtq+ hip hop]"
1664,5q8HGNo0BjLWaTAhRtbwxa,Brantley Gilbert,"[contemporary country, country, country road, ..."
1665,26T4yOaOoFJvUvxR87Y9HO,Bethel Music,"[ambient worship, ccm, christian music, deep c..."
1666,46MWeeHNVMYRIIofQBEX98,BEAM,"[trap soul, underground hip hop]"

# tracks

In [111]:
tracks = pd.read_json("../data-v2/tracks.jsonl", lines=True)

In [112]:
tracks

,id,name,popularity,duration_ms,explicit,id_artist,release_date,danceability,energy,key,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,0RNxWy0PC3AyH4ThH3aGK6,Mack the Knife,55,201467,0,19eLuQmk9aCobbVDHc6eek,1929,0.673,0.3770,0,-14.141,0.0697,0.5860,0.000000,0.3320,0.7130,88.973
1,2W889aLIKxULEefrleFBFI,Someone to Watch Over Me,54,198000,0,1Mxqyy3pSjf8kZZL4QVxS0,1943,0.204,0.1510,2,-17.842,0.0418,0.9470,0.000009,0.3210,0.1340,91.783
2,4Pnzw1nLOpDNV6MKI5ueIR,Nancy (With the Laughing Face) - 78rpm Version,55,199000,0,1Mxqyy3pSjf8kZZL4QVxS0,1944,0.295,0.0826,1,-19.569,0.0367,0.9840,0.000358,0.1560,0.1690,128.600
3,7GLmfKOe5BfOXk7334DoKt,Saturday Night (Is The Loneliest Night In The ...,54,163000,0,1Mxqyy3pSjf8kZZL4QVxS0,1944,0.561,0.3350,9,-11.093,0.0499,0.8400,0.000002,0.7880,0.5900,126.974
4,6kD1SNGPkfX9LwaGd1FG92,Put Your Dreams Away (For Another Day),53,186173,0,1Mxqyy3pSjf8kZZL4QVxS0,1944,0.197,0.0546,1,-22.411,0.0346,0.9500,0.276000,0.1520,0.1000,90.150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22407,0LcNMuOiULmxJK3bdHTfDF,Missing You,65,214987,0,7gAppWoH7pcYmphCVTXkzs,2019-04-19,0.537,0.6470,2,-7.370,0.0519,0.1680,0.000000,0.1080,0.5310,79.770
22408,1uviKYHZuM4uINK33F7sCt,Fix It to Break It,70,198799,0,7okSU80WTrn4LXlyXYbX3P,2020-03-27,0.493,0.4610,2,-8.524,0.0456,0.8450,0.000000,0.1150,0.3500,51.414
22409,1fXmDeiCb3ABt5CzkMxp4u,Lotus Inn,63,195868,0,2jnIB6XdLvnJUeNTy5A0J2,2020-12-04,0.578,0.7400,2,-5.080,0.0721,0.0119,0.000000,0.1800,0.4950,155.984
22410,27kcZEJvhkb1rzZS9gCpdA,remember the mornings,67,202355,0,7okSU80WTrn4LXlyXYbX3P,2020-11-27,0.590,0.4430,0,-5.662,0.0722,0.6180,0.000000,0.1100,0.3420,149.447
22411,27Y1N4Q4U3EfDU5Ubw8ws2,What They'll Say About Us,70,187601,0,37M5pPGs6V1fchFJSgCguX,2020-09-02,0.535,0.3140,7,-12.823,0.0408,0.8950,0.000150,0.0874,0.0663,145.095

In [113]:
events_data_df

,track_id,week_range,like_count,play_count,skip_count
0,000xYdQfIZ4pDmBGzQalKU,week 33 2024-07-10 - 2024-07-17,0,2,0
1,000xYdQfIZ4pDmBGzQalKU,week 6 2024-01-03 - 2024-01-10,0,2,0
2,003FTlCpBTM4eSqYSWPv4H,week 28 2024-06-05 - 2024-06-12,0,1,0
3,003vvx7Niy0yvhvHt4a68B,week 26 2024-05-22 - 2024-05-29,0,1,0
4,005Dlt8Xaz3DkaXiRJgdiS,week 47 2024-10-16 - 2024-10-23,0,1,0
...,...,...,...,...,...
14350,7zscdQe9CjzXnqT3P1Ey7K,week 43 2024-09-18 - 2024-09-25,1,2,0
14351,7zscdQe9CjzXnqT3P1Ey7K,week 49 2024-10-30 - 2024-11-06,2,4,0
14352,7zuwr7YqqpveNtxlKe1vn6,week 39 2024-08-21 - 2024-08-28,2,2,0
14353,7zv5oGRQoJX09QM3pkvI1w,week 46 2024-10-09 - 2024-10-16,0,1,0
14354,7zycSpvjDcqh6YT1FEl2kY,week 18 2024-03-27 - 2024-04-03,0,1,0

In [116]:
events_data_df = events_data_df.merge(tracks[['id', 'id_artist']], left_on='track_id', right_on='id', how='left')

In [117]:
events_data_df

,track_id,week_range,like_count,play_count,skip_count,id,id_artist
0,000xYdQfIZ4pDmBGzQalKU,week 33 2024-07-10 - 2024-07-17,0,2,0,000xYdQfIZ4pDmBGzQalKU,3qvcCP2J0fWi0m0uQDUf6r
1,000xYdQfIZ4pDmBGzQalKU,week 6 2024-01-03 - 2024-01-10,0,2,0,000xYdQfIZ4pDmBGzQalKU,3qvcCP2J0fWi0m0uQDUf6r
2,003FTlCpBTM4eSqYSWPv4H,week 28 2024-06-05 - 2024-06-12,0,1,0,003FTlCpBTM4eSqYSWPv4H,3vAaWhdBR38Q02ohXqaNHT
3,003vvx7Niy0yvhvHt4a68B,week 26 2024-05-22 - 2024-05-29,0,1,0,003vvx7Niy0yvhvHt4a68B,0C0XlULifJtAgn6ZNCW2eu
4,005Dlt8Xaz3DkaXiRJgdiS,week 47 2024-10-16 - 2024-10-23,0,1,0,005Dlt8Xaz3DkaXiRJgdiS,0h1zs4CTlU9D2QtgPxptUD
...,...,...,...,...,...,...,...
14350,7zscdQe9CjzXnqT3P1Ey7K,week 43 2024-09-18 - 2024-09-25,1,2,0,7zscdQe9CjzXnqT3P1Ey7K,711MCceyCBcFnzjGY4Q7Un
14351,7zscdQe9CjzXnqT3P1Ey7K,week 49 2024-10-30 - 2024-11-06,2,4,0,7zscdQe9CjzXnqT3P1Ey7K,711MCceyCBcFnzjGY4Q7Un
14352,7zuwr7YqqpveNtxlKe1vn6,week 39 2024-08-21 - 2024-08-28,2,2,0,7zuwr7YqqpveNtxlKe1vn6,1JbemQ1fPt2YmSLjAFhPBv
14353,7zv5oGRQoJX09QM3pkvI1w,week 46 2024-10-09 - 2024-10-16,0,1,0,7zv5oGRQoJX09QM3pkvI1w,1dfeR4HaWDbWqFHLkxsg1d
14354,7zycSpvjDcqh6YT1FEl2kY,week 18 2024-03-27 - 2024-04-03,0,1,0,7zycSpvjDcqh6YT1FEl2kY,0hCNtLu0JehylgoiP8L4Gh

In [118]:
print(events_data_df)

                     track_id                       week_range  like_count  \
0      000xYdQfIZ4pDmBGzQalKU  week 33 2024-07-10 - 2024-07-17           0
1      000xYdQfIZ4pDmBGzQalKU   week 6 2024-01-03 - 2024-01-10           0
2      003FTlCpBTM4eSqYSWPv4H  week 28 2024-06-05 - 2024-06-12           0
3      003vvx7Niy0yvhvHt4a68B  week 26 2024-05-22 - 2024-05-29           0
4      005Dlt8Xaz3DkaXiRJgdiS  week 47 2024-10-16 - 2024-10-23           0
...                       ...                              ...         ...
14350  7zscdQe9CjzXnqT3P1Ey7K  week 43 2024-09-18 - 2024-09-25           1
14351  7zscdQe9CjzXnqT3P1Ey7K  week 49 2024-10-30 - 2024-11-06           2
14352  7zuwr7YqqpveNtxlKe1vn6  week 39 2024-08-21 - 2024-08-28           2
14353  7zv5oGRQoJX09QM3pkvI1w  week 46 2024-10-09 - 2024-10-16           0
14354  7zycSpvjDcqh6YT1FEl2kY  week 18 2024-03-27 - 2024-04-03           0

       play_count  skip_count                      id               id_artist
0               2           0  000xYdQfIZ4pDmBGzQalKU  3qvcCP2J0fWi0m0uQDUf6r
1               2           0  000xYdQfIZ4pDmBGzQalKU  3qvcCP2J0fWi0m0uQDUf6r
2               1           0  003FTlCpBTM4eSqYSWPv4H  3vAaWhdBR38Q02ohXqaNHT
3               1           0  003vvx7Niy0yvhvHt4a68B  0C0XlULifJtAgn6ZNCW2eu
4               1           0  005Dlt8Xaz3DkaXiRJgdiS  0h1zs4CTlU9D2QtgPxptUD
...           ...         ...                     ...                     ...
14350           2           0  7zscdQe9CjzXnqT3P1Ey7K  711MCceyCBcFnzjGY4Q7Un
14351           4           0  7zscdQe9CjzXnqT3P1Ey7K  711MCceyCBcFnzjGY4Q7Un
14352           2           0  7zuwr7YqqpveNtxlKe1vn6  1JbemQ1fPt2YmSLjAFhPBv
14353           1           0  7zv5oGRQoJX09QM3pkvI1w  1dfeR4HaWDbWqFHLkxsg1d
14354           1           0  7zycSpvjDcqh6YT1FEl2kY  0hCNtLu0JehylgoiP8L4Gh

[14355 rows x 7 columns]

In [119]:
# Group by id_artist and week_range, then sum the like_count, play_count, and skip_count for each group
weekly_artist_event_counts = events_data_df.groupby(['id_artist', 'week_range'])[['like_count', 'play_count', 'skip_count']].sum().reset_index()

# Display the updated DataFrame

In [120]:
weekly_artist_event_counts

,id_artist,week_range,like_count,play_count,skip_count
0,00FQb4jTyendYWaN8pK0wa,week 1 2023-11-29 - 2023-12-06,1,5,3
1,00FQb4jTyendYWaN8pK0wa,week 10 2024-01-31 - 2024-02-07,0,1,0
2,00FQb4jTyendYWaN8pK0wa,week 12 2024-02-14 - 2024-02-21,3,5,3
3,00FQb4jTyendYWaN8pK0wa,week 13 2024-02-21 - 2024-02-28,1,4,1
4,00FQb4jTyendYWaN8pK0wa,week 14 2024-02-28 - 2024-03-06,3,6,2
...,...,...,...,...,...
11740,7z5WFjZAIYejWy0NI5lv4T,week 27 2024-05-29 - 2024-06-05,0,2,2
11741,7z5WFjZAIYejWy0NI5lv4T,week 31 2024-06-26 - 2024-07-03,2,6,0
11742,7z5WFjZAIYejWy0NI5lv4T,week 44 2024-09-25 - 2024-10-02,0,1,0
11743,7z5WFjZAIYejWy0NI5lv4T,week 48 2024-10-23 - 2024-10-30,0,1,0
11744,7z5WFjZAIYejWy0NI5lv4T,week 49 2024-10-30 - 2024-11-06,1,5,0